@model Gamerce.Models.ChangeRequest

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChangeRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BriefDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BriefDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfRequest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority.PriorityLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.RequestStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChangeRequestID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
