@model Gamerce.Models.ChangeRequest

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChangeRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BriefDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BriefDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfRequest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequiredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority.PriorityLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.RequestStatus)
        </dd>
        <dt>
            Owner
        </dt>
        <dd>
            @ViewBag.OwnerName
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChangeRequestID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
